:root{
    --app-spacing: 3vw;
    --line-color: #C9C9C9;
    --success-color: #65E700;
    --waiting-color: #E78A00;
    --error-color: #FF0000;
    --app-font-size: clamp(10px, 0.8vw, 200px)
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', 'sans-serif';
}

svg {
    overflow: visible;
}

line, path {
    stroke-width: 1px;
    stroke-linejoin: round;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--line-color);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}

/* _____________________   GENERAL   _____________________ */

.indicator-success, .recieved-package-icon{
    background-color: var(--success-color);
}

.indicator-waiting, .waiting-package-icon{
    background-color: var(--waiting-color);
}

.indicator-error, .lost-package-icon{
    background-color: var(--error-color);
}

.indicator-default{
    background-color: var(--line-color);
}

.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.circle{
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.app-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    padding: var(--app-spacing);
    gap: var(--app-spacing);
}


/* _____________________   DATA FRAME   _____________________ */


.data-frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.data-section-frame{
    display: flex;
    flex-direction: column;
    font-size: var(--app-font-size);
}

.data-section-title-frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--line-color);
    padding: 10px 20px;
}

.data-section-title-container{
    display: flex;
    align-items: center;
    gap: 2em;
}

.blt-icon{
    fill: blue;
    height: 3.5em;
}

.data-section-title-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    aspect-ratio: 1/1;
}

.data-section-title {
    font-size: 1.75em;
    font-weight: 600;
}

.blt-frame .data-section-title{
    white-space: nowrap;
}

.data-section-title-aux{
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-section-content-frame{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}

.blt-status-container{
    display: flex;
    align-items: center;
    gap: 0.55em;
}

.blt-status-indicator, .recording-package-icon{
    width: 0.55em;
}

.blt-status-text, .recording-package-text{
    font-size: 1em;
    color: #7E7E7E;
}

.blt-device-name, .recording-timer{
    font-size: 1.25em;
    font-weight: 400;
    color: black;
    text-align: end;
}

.recording-icon{
    position: relative;
}

.recording-icon-outer-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7E7E7E;
    width: 3em;
    transform: translate(-50%, -50%);
}

.recording-icon-inner-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.3em;
    background-color: red;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.recording .recording-icon-inner-circle{
    width: 1.5em;
    border-radius: 25%;
}

.recieved-data-icon{
    fill: #4d4d4d;
    width: 40px;
}

.blt-recording-indicator{
    width: 0.8em;
    background-color: #FF0000;
    opacity: 0;
}

.recording .blt-recording-indicator{
    animation: recordingAnimation 1s step-end infinite;
}

.angle-measurement-frame .data-section-content-frame {
    flex-direction: row;
    justify-content: space-around;
}

.angle-data-frame{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
}

.angle-data-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: 500;
    border-bottom: 1px solid var(--line-color);
    padding-block: 10px;
}

.angle-visualizer{
    width: 80%;
}

.angle-visualizer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.angle-visualizer-bg-ui {
    stroke: var(--line-color);
    stroke-width: 1px;
}

.angle-visualizer-angle-path, .angle-visualizer-first-angle, .angle-visualizer-second-angle{
    fill: rgba(21, 56, 211, 0.3);
    stroke: rgba(21, 56, 211, 1);

}

.angle-visualizer-current-angle{
    stroke: red;
}

.angle-data-content-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.angle-data-content-container{
    font-size: 1em;
}

.angle-data-content-container span::after{
    content: 'º';
}

.angle-data-variance-angle{
    margin-top: 10px;
}



/* _____________________   VISUALIZATION FRAME   _____________________ */


.visualization-frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 30px;

}

.visualization-frame .data-section-frame{
    height: 50%;
}

.visualization-frame .data-section-title{
    font-weight: 400;
    font-size: 1.2em;
}

.visualization-frame .data-section-content-frame{
    flex: 1;
    padding: 0;
}

.visualization-frame .btn{
    padding: 5px 20px;
    border-bottom: 1px solid var(--line-color);
}

.d3-set-center-btn .btn-icon{
    fill: red;
}

.center-arduino:active{
    background-color: lightgrey
}

.btn-icon{
    height: 1.5em;
}

.btn-description-text{
    white-space: nowrap;
}

.recording-chart-container, .IMU-visualizer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
}

.download-data-btn, .send-modal-toggler{
    opacity: 0.3;
    pointer-events: none;
    transition: 0.2s;
}

.data-available .download-data-btn, .data-available .send-modal-toggler, .send-email-btn.sending-available{
    opacity: 1;
    pointer-events: all;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}



.modal-backdrop{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s;
}

.modal-shown.modal-backdrop{
    background-color: rgb(0, 0, 0, 0.3);
    pointer-events: all;
}

.modal-frame{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    transition: 0.3s;
    padding: 50px;
    border-inline: 1px solid var(--line-color);
    font-size: clamp(15px, 1.1vw, 200px);
    gap: 50px;
}

.modal-shown .modal-frame{
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.modal-title{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.modal-subtitle{
    font-family: var(--font-secondary);
    font-size: 0.8em;
    width: 85%;
}

.modal-content-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.email-info-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    font-size: 0.8em;
    width: 60%;
}

.modal-input-container{
    display: flex;
    flex-direction: column;
}
    
.mandatory-input label::after{
    content: '  *';
    color: #ff0000;
    font-size: 0.7em;
    vertical-align: top;
}

label{
    color: #747474;
}

.optional-input label::after{
    content: ' (optional)';
    color: #4d4d4d;
    font-size: 0.6em;
    vertical-align: text-top;
}

input, textarea{
    border: none;
    resize: none;
    outline: none;
    border-bottom: 1px solid var(--line-color);
    transition: border-bottom 0.3s;
    font-size: 1em;
    padding: 15px 0px 5px 0px;
}

input::placeholder, textarea::placeholder{
    font-size: 0.8em;
}

input:focus, textarea:focus{
    border-bottom: 1px solid black;

}

.send-email-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px ;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.3;
    pointer-events: none;
    transition: 0.3s;
}

.sending-indicator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
}

.input-error{
    border-color: red !important;
}

.sending-indicator{
    background-color: white;
    animation: sendingEmailAnimation 1s infinite; 
    animation-play-state: paused;
    display: none;
}

.sending-success .sending-indicator{
    animation: none;
    background-color: var(--success-color);
    animation-play-state: paused;
	width: 100%;
	opacity: 1;
}

.sending-error .sending-indicator{
    animation: none;
    background-color: var(--error-color);
    animation-play-state: paused;
	width: 100%;
	opacity: 1;
}

.sending-email .sending-indicator{
    display: block;
    animation-play-state: running;
}

@keyframes recordingAnimation {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

@keyframes sendingEmailAnimation {
    0% {width: 30%; opacity: 0;}
    50% {width: 100%; opacity: 1;}
    100% {width: 30%; opacity: 0;}
}

@media only screen and (max-width: 1000px){ 
    .app-frame{
        flex-direction: column;
        padding: 7vw;
        height: 200vh;
    }

    .modal-frame{
        width: 90vw;
        padding: 20px;
    }

    .email-info-form {
        width: 100%;
    }

    .angle-data-frame{
        width: 30%;
    }
}